<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORT ON WEEK 8 PROGRESS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>
            WEEKLY REPORT
            WEEK 8
        </h1>
             <p>
                Below is my report for week 8, managed to send it again now with nodemailer
             </p>
        <h6>
            Regards
        </h6>
        <h6>
            KIPKOECH KIRUI ARON
        </h6>
        <h6>
            kipkoech.aron@thejitu.com
        </h6>
       </footer>
    </div>
   
</body>
</html>