<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPORT ON WEEK 8 PROGRESS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>
            WEEKLY REPORT
            WEEK 8
        </h1>
        <P>
            The week has been excellent learning everything new every other day. Many of what we learned this week, I had not come to interact with it but now I have knowledge about them, I really do greatly appreciate. 
       </P>
       <p>
        I learned a lot on middle wares as a function that will have all the access for requesting an object, responding to an object, and moving to the next middleware function in the application request-response cycle. It is also an easy way of handling errors and thus makes code look clean.
       </p>
       <p>
        Sending mails with node was also quite interesting topic as it gives a way on how you can embed your API with email so as to send it to a client.  I managed to create it and integrate it with the Bookstore API so as an email is sent when a user register, borrows and return a book.
       </p>
       <p>
        I also came to learn much background services how to implement it and what occasion could it be implemented. This also gives an overview on how platforms alert their user on certain day on any upcoming event or any requirement.
       </p>
       <p>
        EJS Templating made my week interesting as I got to understand how various platforms send their emails in stylish manner. I had not interacted with it before but now am confident on using it as I implemented in this project.
       </p>
       <p>
        Thanks for the knowledge you have shared with us, though everything was new I got to understand on how each one of them is implemented.
       </p>
       <footer>
        <h6>
            Regards
        </h6>
        <h6>
            KIPKOECH KIRUI ARON
        </h6>
        <h6>
            kipkoech.aron@thejitu.com
        </h6>
       </footer>
    </div>
   
</body>
</html>